{% extends "base.html" %}
{% block content %}
    <div class="container mt-4">
        <h2>Clubs List</h2>
        {% if user.is_superuser %}
        <a href="{% url 'add_club' %}" class="btn btn-primary">Add Club</a>
        {% endif %}
        <form method="get" class="mb-3">
            <div class="input-group mb-2">
                <input type="text" name="club_title" class="form-control" placeholder="Search by club_title"
                       value="{{ club_title|default:'' }}">
                <button type="submit" class="btn btn-outline-primary">Search</button>
            </div>
        
            <div class="input-group">
                <input type="text" name="league_title" class="form-control" placeholder="Search by league_title"
                       value="{{ league_title|default:'' }}">
                <button type="submit" class="btn btn-outline-success">Search</button>
            </div>
        </form>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Location</th>
                <th scope="col">Stadium</th>
                <th scope="col">League</th>
                {% if user.is_superuser %}
                <th>Actions</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
                {% for entry in data %}
                <tr>
                    <td><a href="{% url 'club_detail' entry.id %}" class="btn btn-primary btn">{{ entry.full_title }}</a></td>
                    <td>{{ entry.location }}</td>
                    <td>{{ entry.stadium }}</td>
                    <td>{{ entry.league.full_title }}</td>
                    {% if user.is_superuser %}
                    <td>
                        <a href="{% url 'edit_club' entry.id %}" class="btn btn-primary btn-sm">Edit</a>
                        <a href="{% url 'delete_club_confirm' entry.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No data available.</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
    {% endblock %}