{% extends "base.html" %}
{% block content %}
    <div class="container mt-4">
        <h2>Leaques List</h2>
        {% if user.is_superuser %}
        <a href="{% url 'add_league' %}" class="btn btn-primary">Add League</a>
        {% endif %}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Full title</th>
                <th scope="col">Country</th>
                {% if user.is_superuser %}  <!-- Show buttons only to admins -->
                <th>Actions</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
                {% for entry in data %}
                <tro>
                    <td>
                        <a href="{% url 'league_detail' entry.id %}" class="btn btn-primary btn-sm">{{ entry.full_title }}</a>
                    </td>
                    <td>{{ entry.country.full_title }}</td>
                    {% if user.is_superuser %}
                    <td>
                        <a href="{% url 'edit_league' entry.id %}" class="btn btn-primary btn-sm">Edit</a>
                        <a href="{% url 'delete_league_confirm' entry.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No data available.</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
    {% endblock %}
