{% extends "base.html" %}
{% block content %}
    <div class="custom-welcome-wrapper">
        <div class="custom-welcome">
            {% if user.is_authenticated and user.profile.is_banned %}
                <h1 class="custom-title text-danger">Забанений</h1>

                <form method="post">
                    {% csrf_token %}
                    <textarea name="message" class="form-control mb-3" rows="4" placeholder="Write your unban request..."></textarea>
                    <button type="submit" class="btn btn-warning">Send Unban Request</button>
                </form>

                <a href="{% url 'logout' %}" class="btn btn-danger mt-3">Logout</a>
            {% elif user.is_authenticated %}
                <h1 class="custom-title">Welcome, {{ user.username }}</h1>
            {% else %}
                <h1 class="custom-title">Welcome user</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}
