{% extends "base.html" %}
{% block content %}
    <div class="container mt-4">
        <h2>PLayers List</h2>
        {% if user.is_superuser %}
        <a href="{% url 'add_player' %}" class="btn btn-primary">Add Player</a>
        {% endif %}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Birthday</th>
                <th scope="col">Current club</th>
                <th scope="col">Country</th>
                {% if user.is_superuser %}
                <th>Actions</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
                {% for entry in data %}
                <tr>
                    <td><a href="{% url 'player_detail' entry.id %}" class="btn btn-primary btn">{{ entry.player_name }}</a></td>
                    <td>{{ entry.birthday }}</td>
                    <td><a href="{% url 'club_detail' entry.current_club_id %}" class="btn btn-primary btn">{{ entry.current_club.full_title }}</a></td>
                    <td>{{ entry.country.full_title }}</td>
                    {% if user.is_superuser %}
                    <td>
                        <a href="{% url 'edit_player' entry.id %}" class="btn btn-primary btn-sm">Edit</a>
                        <a href="{% url 'delete_player_confirm' entry.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No data available.</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
    {% endblock %}
